<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Conta - Controle de EPIs</title>
    <link rel="icon" href="../public/assets/simboloLogo.png" type="image/jpg">
    <link rel="stylesheet" href="../public/css/styles.css">
</head>
<body>
    <div class="login-container">
        <img src="../public/assets/logo.png" alt="Logo da Empresa Loop">
        <h1>Criar conta</h1>
        
        <form>
            <input id="name" type="text" placeholder="Nome" name="name" required>
            <input id="function" type="text" placeholder="Função" name="function" required>
            <input id="username" type="text" placeholder="Usuário" name="username" required>
            <input id="password" type="password" placeholder="Senha" name="password" required>
            <button id="cadastrarBtn" type="submit">Cadastrar</button>
        </form>
    </div>
</body>
<footer>
    &copy; 2025 Grupo Loop. Todos os direitos reservados.
</footer>
</html>
