<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - EPI Estoque</title>
    <link rel="icon" href="../public/assets/simboloLogo.png" type="image/png">
    <link rel="stylesheet" href="../public/css/dashboard.css">
</head>
<body>
    <header>
        <img src="../public/assets/logo.jpg" alt="Logo da Empresa">
        <h1>Dashboard - EPI </h1>
    </header>
    <main>
        <div class="grid">
            <div class="card">
                <h2>EPIs em Estoque</h2>
                <p>Quantidade: 120</p>
            </div>
            <div class="card">
                <h2>EPIs em Uso</h2>
                <p>Quantidade: 85</p>
            </div>
            <div class="card">
                <h2>EPIs com Validade Próxima</h2>
                <p>Quantidade: 15</p>
            </div>
            <div class="card">
                <h2>EPIs Expirados</h2>
                <p>Quantidade: 5</p>
            </div>
            <div class="card">
                <h2>EPIs por Tipo</h2>
                <p>Capacetes: 50</p>
                <p>Luvas: 30</p>
                <p>Botas: 40</p>
            </div>
            
            <div class="card">
                <h2>EPIs por Funcionário</h2>                
                <select id="fun" name="fun" required>
                    <option value="">Selecione...</option>
                    <option value="fun">João</option>
                    <option value="fun">Pedro</option>
            </div>
        </div>
    </main>
    <footer>
        &copy; 2025 Grupo Loop. Todos os direitos reservados.
    </footer>
</body>
</html>
