<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nova senha - Controle de EPIs</title>
    <link rel="icon" href="../public/assets/simboloLogo.png" type="image/jpg">
    <link rel="stylesheet" href="../public/css/styles.css">
</head>
<body>
    <div class="login-container">
        <img src="../public/assets/logo.png" alt="Logo da Empresa Loop">
        <h1>Cadastre nova senha</h1>
        <form>
            <input id="userSenha" type="text" placeholder="Usuário" name="username" required>
            <input id="novaSenha" type="password" placeholder="Nova senha" name="password" required>
            <button id="alterarSenhaBtn" type="submit">Alterar senha</button>
        </form>
    </div>
</body>
<footer>
    &copy; 2025 Grupo Loop. Todos os direitos reservados.
</footer>
</html>
