<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Controle de EPIs</title>
    <link rel="icon" href="../public/assets/simboloLogo.png" type="image/jpg">
    <link rel="stylesheet" href="../public/css/styles.css">
</head>
<body>
    <div class="login-container">
        <img src="../public/assets/logo.png" alt="Logo da Empresa Loop">
        <h1>Controle de EPIs</h1>
        <h2>Bem-vindo(a)</h2>
        <form>
            <input id="loginUser" type="text" placeholder="Usuário" name="username" required>
            <input id="loginSenha" type="password" placeholder="Senha" name="password" required>
            <button id="loginBtn" type="submit">Login</button>
        </form>
        <a href="esqueceuSenha.html">Esqueceu a senha?</a>
        <a href="cadastro-login.html">Cadastre-se</a>
    </div>
    <footer>
        &copy; 2025 Grupo Loop. Todos os direitos reservados.
    </footer>
</body>
</html>
