<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel Principal</title>
    <link rel="icon" href="../public/assets/simboloLogo.png" type="image/jpg">
    <link rel="stylesheet" href="../public/css/main.css">
</head>
<body>

    <header>
        <img src="../public/assets/logo.jpg" alt="Logo da Empresa">
        <h1>Controle - SST </h1>
        <button id="logout-button">Sair</button>
    </header>
    
<main>
    <div id="all">
            <!-- Solicitação EPI -->
        <div class="button-container">
            <a href="solicitarEPI.html" target="_blank">
                <img src="../public/assets/pedidoEpi.png" alt="Solicitar EPI">
                <div class="button-text">Solicitação EPI</div>
            </a>
        </div>

        <!-- Registro de EPI -->
        <div class="button-container">
            <a href="registro-EPI.html" target="_blank">
                <img src="../public/assets/entregaEpi.png" alt="Distribuição de EPI">
                <div class="button-text">Registro de EPI/EPC</div>
            </a>
        </div>
    </div>
</main>
<footer>
    &copy; 2025 Grupo Loop. Todos os direitos reservados.
</footer>
<script src="../public/js/main.js"></script>
</body>
</html>
