body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}
header {
    background-color: #343a40;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header img {
    max-width: 150px;
    height: 50px;
    border-radius: 5px;
}
header h1 {
    font-size: 20px;
}
#adm, #all {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 10px;
}
.button-container {
    margin: 10px;
    width: 200px;
    text-align: center;
}
.button-container a {
    display: block;
    text-decoration: none;
    color: black;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}
.button-container a:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}
.button-container img {
    width: 100%;
    height: auto;
    margin-top: 20px;
    object-fit: cover;
}
.button-container .button-text {
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
}
footer {
    text-align: center;
    padding: 10px;
    background: #343a40;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}
/* Responsividade para telas menores */
@media (max-width: 768px) {
    header {
        padding: 15px;
    }
    header img {
        max-width: 120px;
        height: auto;
        margin-bottom: 10px;
    }
    header h1 {
        font-size: 20px;
        text-align: center;
    }
    #adm, #all {
        padding: 10px;
        gap: 1px; 
    }
    .button-container {
        width: 150px; 
    }
    .button-container .button-text {
        font-size: 14px;
    }
}

/* Responsividade para telas muito pequenas */
@media (max-width: 480px) {
    header img {
        max-width: 110px;
        height: auto;
        margin-bottom: 5px;
    }
    header h1 {
        font-size: 18px;
    }
    .button-container {
        width: 120px;
    }
    .button-container .button-text {
        font-size: 12px;
    }
    footer {
        font-size: 12px;
        padding: 8px;
    }
}