body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #f0f0f0, #d4d4d4);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.login-container {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    padding: 20px;
    text-align: center;
}
.login-container img {
    max-width: 20em;
}
.login-container h1 {
    color: #333333;
    margin-bottom: 20px;
}
.login-container input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
.login-container button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}
.login-container button:hover {
    background: #45a049;
}
.login-container a {
    display: block;
    margin-top: 10px;
    color: #007BFF;
    text-decoration: none;
    font-size: 14px;
}
.login-container a:hover {
    text-decoration: underline;
}
footer {
    text-align: center;
    padding: 10px;
    background: #343a40;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}